<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../static/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/header.js" charset="utf-8"></script>
    <script src="../static/js/echarts.js" async></script>
    <script src="../static/js/Api.js"></script>
    <script src="../static/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/manage.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all" />
    <script src="../static/js/vue.js"></script>
    <title>鹰眼电影-后台管理</title>
</head>

<!-- Vue注册组件 -->
<script>
    var cinemas;
    Vue.component('cinema-option', {
        template: '<option :value="cinema.id" v-for="cinema in cinemas">{{cinema.cinemaName}}</option>',
        data: function () {
            var ajax_param = new baseAjax();
            ajax_param.url = url + "/movie/cinema/get-cinema/" + user.cinemaTypeId;
            ajax(ajax_param, (data) => {
                cinemas = data
            });
            return {
                cinemas: cinemas
            };
        }
    });
</script>

<!-- 许可管理 -->
<script type="text/html" id="licensebar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">下架</a>
</script>
<script type="text/html" id="licensetoolbar">
    <div class="layui-btn-container addbtn">
        <button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="licenseadd">添加许可</button>
    </div>
    <div class="licensecheck">
        <input id="scheduletext" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入电影名"
            class="layui-input">
        <button class="layui-btn layui-btn-sm" lay-event="findschedulebtn">搜索</button>
    </div>
    <div class="licenseonall">
        <button class="layui-btn layui-btn-sm" lay-event="scheduleonallbtn">显示上映</button>
    </div>
    <div class="licensedownall">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="licensedownallbtn">显示下架</button>
    </div>
</script>
<script type="text/html" id="licensedownbar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>

<!-- 影院管理 -->
<script type="text/html" id="cinema_tool_bar">
    <div class="layui-btn-container addbtn">
        <button class="layui-btn layui-btn-sm" lay-event="cinema_add">添加影院</button>
    </div>
    <div class="cinema_search">
        <input id="cinema_text" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入"
            class="layui-input">
        <button class="layui-btn layui-btn-sm" lay-event="find_cinema_btn">搜索</button>
    </div>
</script>

<script type="text/html" id="cinema_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
</script>

<script type="text/html" id="cinema_table_image">
    <img src="{{d.cinemaImageUrl}}">
</script>

<div id="cinema_add_layer" style="display: none;">
    <h3 id="add_cinema_title">影院信息</h3>
    <div class="layui-form cinema_info">

        <div class="layui-form-item">
            <label class="layui-form-label">影院名称：</label>
            <div class="layui-input-block cinema_select">
                <input id="cinema_name" name="title" lay-verify="title" autocomplete="off" placeholder="影院名称"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属地区：</label>
                <div class="layui-input-inline three_select">
                    <select id="province" lay-filter="city_select">
                        <option value="">请选择省或直辖市</option>
                        <option :value="province.id" v-for="province in provinces">{{province.areaName}}</option>
                    </select>
                </div>
                <div class="layui-input-inline three_select">
                    <select id="city" lay-filter="city_select">
                        <option value="">请选择城市</option>
                        <option class="city" :value="city.id" v-for="city in citys">{{city.areaName}}</option>
                    </select>
                </div>
                <div class="layui-input-inline three_select">
                    <select id="county" lay-filter="city_select">
                        <option value="">请选择县或行政区</option>
                        <option :value="county.id" v-for="county in countys">{{county.areaName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">详细地址：</label>
            <div class="layui-input-block cinema_select">
                <input type="text" name="address" lay-verify="address" id="cinema_address" autocomplete="off"
                    placeholder="影院详细地址" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-upload pictureside">
        <p class="movie-picture">影院照片</p>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="cinema_image">
            <p id="cinema_text"></p>
        </div>

        <div id="cinema_image_process" style="display: none;" class="layui-progress" lay-filter="cinema_image_process"
            lay-showPercent="true">
            <div class="layui-progress-bar" lay-percent="0%"></div>
        </div>
        <div class="layui-progress-bar" lay-filter="cinema_image"></div>
        <button type="button" class="layui-btn" id="cinema_file">
            <i class="layui-icon">&#xe67c;</i>上传图片
        </button>

        <input type="hidden" id="cinema_image_url">
    </div>
</div>

<!-- 影厅管理 -->
<script type="text/html" id="hall_tool_bar">
    <div class="layui-btn-container addbtn">
        <button class="layui-btn layui-btn-sm" lay-event="hall_add">添加影厅</button>
    </div>
    <div class="hall_search">
        <input id="hall_text" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入"
            class="layui-input">
        <button class="layui-btn layui-btn-sm" lay-event="find_hall_btn">搜索</button>
    </div>
</script>

<script type="text/html" id="hall_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
</script>

<div id="hall_add_layer" style="display: none;">
    <h3 id="add_hall_title">影厅信息</h3>
    <div class="layui-form">
        <div class="layui-form-item add_hall">
            <label class="layui-form-label">影厅名称：</label>
            <div class="layui-input-block hall_select">
                <input id="hall_name" name="title" lay-verify="title" autocomplete="off" placeholder="影厅名称"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label add_hall">所属影院：</label>
            <div class="layui-input-block hall_select">
                <select id="cinema">
                    <option value="">请选择影院</option>
                    <option :value="cinema.id" v-for="cinema in cinemas">{{cinema.cinemaName}}</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label add_hall">影厅类别：</label>
            <div class="layui-input-block hall_select">
                <select id="hall_type">
                    <option value="">请选择影厅类别</option>
                    <option :value="hallType.hallId" v-for="hallType in hallTypes">{{hallType.hallName}}</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label add_hall">影厅容量：</label>
            <div class="layui-input-block hall_select">
                <input class="layui-input" lay-verify="number" id="hall_capacity" placeholder="请输入影厅容量" type="number">
            </div>
        </div>
    </div>
</div>

<!-- 场次管理 -->
<script type="text/html" id="schedule_tool_bar">
    <div class="layui-btn-container addbtn">
        <button class="layui-btn layui-btn-sm" lay-event="schedule_add">添加场次</button>
    </div>
    <div class="schedule_search">
        <input id="schedule_text" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入"
            class="layui-input">
        <button class="layui-btn layui-btn-sm" lay-event="find_schedule_btn">搜索</button>
    </div>
</script>

<script type="text/html" id="schedule_bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
</script>

<div id="schedule_add_layer" style="display: none;">
    <h3 id="add_schedule_title">场次信息</h3>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">放映电影：</label>
            <div class="layui-input-block hall_select">
                <select id="cinema_movie">
                    <option value="">请选择电影</option>
                    <option :value="movie.movieId" v-for="movie in movies">{{movie.movieCnName}}</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属影厅：</label>
            <div class="layui-inline">
                <div class="layui-input-inline two_select">
                    <select id="schedule_cinema" lay-filter="cinema_select">
                        <option value="">请选择影院</option>
                        <option :value="cinema.id" v-for="cinema in cinemas">{{cinema.cinemaName}}</option>
                    </select>
                </div>
                <div class="layui-input-inline two_select">
                    <select id="schedule_hall">
                        <option value="">请选择影厅</option>
                        <option :value="hall.hallId" v-for="hall in halls">{{hall.hallName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">放映时间：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input schedule_input" id="schedule_date">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">售价：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input schedule_input" id="price" placeholder="￥">
            </div>
        </div>
    </div>

</div>

<!-- 主体 -->

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">后台管理系统</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img id="user-header" class="layui-nav-img">
                    </a>
                </li>
                <li class="layui-nav-item"><a class="relogin" href="javascript:;" onclick="ReLogin()">注销</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item root" style="display: none;">
                        <a class="user-manage" href="javascript:;">用户管理</a>
                    </li>
                    <li class="layui-nav-item root" style="display: none;">
                        <a class="movie-manage" href="javascript:;">电影管理</a>
                    </li>
                    <li class="layui-nav-item root" style="display: none;">
                        <a class="license-manage" href="javascript:;">放映许可</a>
                    </li>
                    <li class="layui-nav-item cinema-manager" style="display: none;">
                        <a class="cinema-manage" href="javascript:;">影院管理</a>
                    </li>
                    <li class="layui-nav-item cinema-manager" style="display: none;">
                        <a class="hall-manage" href="javascript:;">影厅管理</a>
                    </li>
                    <li class="layui-nav-item cinema-manager" style="display: none;">
                        <a class="schedule-manage" href="javascript:;">场次管理</a>
                    </li>
                    <li class="layui-nav-item cinema-manager" style="display: none;">
                        <a class="order-manage" href="javascript:;">退票管理</a>
                    </li>
                    <li class="layui-nav-item root" style="display: none;">
                        <a class="comment-manage" href="javascript:;">评论管理</a>
                    </li>
                    <li class="layui-nav-item" style="display: none;">
                        <a class="boxoffice-manage" href="javascript:;">票房统计</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">

            <!-- 用户管理 -->
            <div class="manage-card root user-manage" style="display: none;">
                <div class="userlist">
                    用户管理
                    <table class="layui-hide" id="user_table_id" lay-filter="UserTable" style="margin-right: 5%;">
                    </table>
                </div>
            </div>
            <!-- 电影管理 -->
            <div class="manage-card root movie-manage" style="display: none;">
                <div class="main-inner">
                    <div class="addMovie">
                        <img alt="" src="../static/images/addMovie.png" onclick="addConfirm(-1)" />
                        <span>添加电影</span>
                    </div>
                    <div class="movie-grid">
                        <div class="panel-header">
                            <span class="panel-title"></span>
                        </div>
                        <div class="panel-content">
                            <ul class="movies-list"></ul>
                        </div>
                    </div>
                    <div class="page-navigation" id="movie-page"></div>
                </div>
            </div>
            <!-- 放映许可 -->
            <div class="manage-card root license-manage" style="display: none;">
                放映许可
                <!-- 许可列表 -->
                <div class="Licenselist">
                    <table class="layui-hide" id="License_table_id" lay-filter="LicenseTable" style="margin-right: 5%;">
                    </table>
                </div>
            </div>
            <!-- 影院管理 -->
            <div class="manage-card cinema-manager cinema-manage" style="display: none;">
                <!-- 影院列表 -->
                <div class="cinemalist">
                    <table class="layui-table" lay-data="{id:'cinema_table',
                        toolbar: '#cinema_tool_bar',
                        url:url+'/movie/cinema/all',
                        page:true,
                        request:{pageName:'currentPage',limitName:'pageSize'},
                        page: {
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                            curr: 1, //设定初始在第 1 页
                            groups: 5, //只显示 5 个连续页码
                            first: false, //显示首页
                            last: false, //显示尾页
                            limits: [10, 15, 20]
                        },
                        response: {
                            statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                        },
                        parseData: function (res) {
                            return {
                                code: res.code, //解析接口状态
                                msg: res.msg, //解析提示文本
                                count: res.data.total, //解析数据长度
                                data: res.data.list //解析数据列表
                            };
                        }
                        }" id="cinema_table_id" lay-filter="CinemaTable" style="margin-right: 5%;">
                        <thead>
                            <tr>
                                <th lay-data="{field:'id',align:'center',unresize: true}">影院编号</th>
                                <th lay-data="{field:'cinemaType',
                                                align:'center',
                                                unresize: true,
                                                templet:'#cinema_table_image'
                                                }">影院照片</th>
                                <th lay-data="{field:'cinemaName',align:'center',unresize: true}">影院名称</th>
                                <th lay-data="{field:'cinemaAddress',align:'center',unresize: true}">影院地址</th>
                                <th lay-data="{field:'area',align:'center',unresize: true}">所属地区</th>
                                <th lay-data="{align:'center',toolbar:'#cinema_bar',unresize: true}">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- 影厅管理 -->
            <div class="manage-card cinema-manager hall-manage" style="display: none;">
                <!-- 影院列表 -->
                <div class="halllist">
                    <table class="layui-table" id="hall_table_id" lay-data="{id:'hall_table',
                    toolbar: '#hall_tool_bar',
                    url:url+'/movie/hall/all',
                    page:true,
                    request:{pageName:'currentPage',limitName:'pageSize'},
                    page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                        curr: 1, //设定初始在第 1 页
                        groups: 5, //只显示 5 个连续页码
                        first: false, //显示首页
                        last: false, //显示尾页
                        limits: [10, 15, 20]
                    },
                    response: {
                        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                    },
                    parseData: function (res) {
                        return {
                            code: res.code, //解析接口状态
                            msg: res.msg, //解析提示文本
                            count: res.data.total, //解析数据长度
                            data: res.data.list //解析数据列表
                        };
                    }
                    }" lay-filter="HallTable" style="margin-right: 5%;">
                        <thead>
                            <tr>
                                <th lay-data="{field:'hallId',align:'center',unresize: true}">编号</th>
                                <th lay-data="{field:'cinemaName',align:'center',unresize: true,sort:true}">影院名称</th>
                                <th lay-data="{field:'hallType',align:'center',unresize: true,sort:true}">影厅类别</th>
                                <th lay-data="{field:'hallName',align:'center',unresize: true}">影厅名称</th>
                                <th lay-data="{field:'hallCapacity',align:'center',unresize: true,sort:true}">影厅容量</th>
                                <th lay-data="{align:'center',toolbar:'#hall_bar',unresize: true}">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- 场次管理 -->
            <div class="manage-card cinema-manager schedule-manage" style="display: none;">
                <!-- 场次列表 -->
                <div class="schedulelist">
                    <table class="layui-table" id="schedule_table_id" lay-data="{id:'schedule_table',
                    toolbar: '#schedule_tool_bar',
                    url:url+'/movie/schedule/all',
                    page:true,
                    request:{pageName:'currentPage',limitName:'pageSize'},
                    page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                        curr: 1, //设定初始在第 1 页
                        groups: 5, //只显示 5 个连续页码
                        first: false, //显示首页
                        last: false, //显示尾页
                        limits: [10, 15, 20]
                    },
                    response: {
                        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                    },
                    parseData: function (res) {
                        return {
                            code: res.code, //解析接口状态
                            msg: res.msg, //解析提示文本
                            count: res.data.total, //解析数据长度
                            data: res.data.list //解析数据列表
                        };
                    }
                    }" lay-filter="ScheduleTable" style="margin-right: 5%;">
                        <thead>
                            <tr>
                                <th lay-data="{field:'scheduleId',align:'center',unresize: true}">场次编号</th>
                                <th lay-data="{field:'cinemaName',align:'center',unresize: true}">影院名称</th>
                                <th lay-data="{field:'movieName',align:'center',unresize: true}">电影名称</th>
                                <th lay-data="{field:'startTime',align:'center',unresize: true}">上映时间</th>
                                <th lay-data="{field:'price',align:'center',unresize: true}">售价</th>
                                <th lay-data="{field:'remainingSeat',align:'center',unresize: true}">剩余座位</th>
                                <th lay-data="{align:'center',toolbar:'#cinema_bar',unresize: true}">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- 订单管理 -->
            <div class="manage-card cinema-manager order-manage" style="display: none;">
                <!-- 场次列表 -->
                <div class="orderlist">
                    <table class="layui-hide" id="order_table_id" lay-filter="OrderTable" style="margin-right: 5%;">
                    </table>
                </div>
            </div>
            <!-- 评论管理 -->
            <div class="manage-card root comment-manage" style="display: none;">
                <!-- 场次列表 -->
                <div class="commentlist">
                    <table class="layui-hide" id="comment_table_id" lay-filter="CommentTable" style="margin-right: 5%;">
                    </table>
                </div>
            </div>
            <!-- 票房统计 -->
            <div class="manage-card boxoffice-manage" style="display: none;">
                <div id="aaa"></div>
            </div>
        </div>

        <div class="layui-footer">
            © 鹰眼电影
        </div>
    </div>
    <script>
        var clientHeight = document.documentElement.clientHeight;
        var user = JSON.parse(localStorage.getItem("userJson"));
        var brand = new Vue({
            el: "#cinema_brand",
            data: {
                brand: null
            }
        });
        var province = new Vue({
            el: "#province",
            data: {
                provinces: null
            }
        });
        var city = new Vue({
            el: "#city",
            data: {
                citys: null
            }
        });
        var county = new Vue({
            el: "#county",
            data: {
                countys: null
            }
        });
        var cinema = new Vue({
            el: "#cinema",
            data: {
                cinemas: null
            }
        });
        var schedule_cinema = new Vue({
            el: "#schedule_cinema",
            data: {
                cinemas: null
            }
        })
        var hallType = new Vue({
            el: "#hall_type",
            data: {
                hallTypes: null
            }
        })
        var cinema_movie = new Vue({
            el: "#cinema_movie",
            data: {
                movies: null
            }
        });
        var hall = new Vue({
            el:"#schedule_hall",
            data:{
                halls:null
            }
        })


        window.onload = function () {
            if (user.userRole == 1) {
                $(".layui-nav-item.root").attr("style", "display:block;")
                $("#user-header").parent("a").append("系统管理员：" + user.userName);
                $(".user-manage").parent("li").addClass("layui-this");
                $(".manage-card.user-manage").attr("style", "display:block");
            } else if (user.userRole == 2) {
                $(".layui-nav-item.cinema-manager").attr("style", "display:block;")
                $("#user-header").parent("a").append(user.cinemaType + "管理员：" + user.userName);
                $(".cinema-manage").parent("li").addClass("layui-this");
                $(".manage-card.cinema-manage").attr("style", "display:block");
            }
            $("#user-header").attr("src", user.userHeadImg);

            layui.use(['element', 'table', 'form', 'upload', 'laydate'], function () {
                var element = layui.element;
                var table = layui.table;
                var form = layui.form;
                var upload = layui.upload;
                var laydate = layui.laydate;

                onCinemaTable(table, form);
                onHallTable(table, form);
                onScheduleTable(table, form);


                laydate.render({
                    elem: "#schedule_date",
                    type: "datetime",
                    value: new Date()
                });
                form.on('select(city_select)', function (pId) {
                    var ajax_param = new baseAjax();
                    ajax_param.url = url + "/area/select/by-pid/" + pId.value;
                    ajax(ajax_param, (data) => {
                        if (pId.elem == document.getElementById("province")) {
                            city.citys = data;
                        } else if (pId.elem == document.getElementById("city")) {
                            county.countys = data;
                        }

                    });
                    setTimeout(function () {
                        form.render();
                    }, 100)
                });
                form.on('select(cinema_select)', function (cinema) {
                    var ajax_param = new baseAjax();
                    ajax_param.url = url + "/movie/hall/list?cinemaId=" + cinema.value;
                    ajax(ajax_param, (data) => {
                        hall.halls = data;
                    });
                    setTimeout(function () {
                        form.render();
                    }, 100)
                });
                var cinema_image = upload.render({
                    elem: "#cinema_file",
                    url: url + "/file/file-upload",
                    done: function (res, index, upload) {
                        $("#cinema_image_url").val(res.data);
                    },
                    choose: function (obj) {
                        $("#cinema_image").removeAttr("src");
                        obj.preview(function (index, file, result) {
                            $("#cinema_image").attr("src", result);
                        })
                    },
                    progress: function (n, elem) {
                        $("#cinema_image_process").attr("style", "margin-top:10px;");
                        var percent = n + '%'; //获取进度百分比
                        element.progress('cinema_image_process', percent); //可配合 layui 进度条元素使用
                        console.log(elem);
                    }
                });
            });

            initCard();
            getCinemaBrand();
            getCinema();
            getMovie(user.cinemaTypeId);
            getHallType();
            getArea(1);
        }
        //初始化选项卡
        function initCard() {
            $(".layui-nav-item").find("a").click(function () {
                if ($(this).attr("class") == "relogin") {
                    return;
                }
                $(".manage-card").attr("style", "display:none")
                var className = $(this).attr("class");
                $("." + className).attr("style", "display:block")
            })
        }
        //添加影院事件
        function addCinema() {

            layer.open({
                type: 1,
                title: "添加影院",
                area: ['820px', '400px'],
                shade: 0.8,
                offset: clientHeight / 10,
                content: $("#cinema_add_layer"),
                id: "cinema_add", //设定一个id，防止重复弹出
                btn: ["确认添加", "取消"],
                closeBtn: 0,
                yes: function () {
                    var cinemaName = $("#cinema_name").val();
                    var cinemaType = $("#cinema_brand").val();
                    var belongArea = $("#county").val();
                    var cinemaAddress = $("#cinema_address").val();
                    var cinemaImageUrl = $("#cinema_image_url").val();
                    var cinema = {
                        "cinemaName": cinemaName,
                        "cinemaType": user.cinemaTypeId,
                        "belongArea": belongArea,
                        "cinemaAddress": cinemaAddress,
                        "cinemaImageUrl": cinemaImageUrl
                    };
                    var param = new baseAjax();
                    param.url = url + "/movie/cinema/insert";
                    param.method = "post";
                    param.data = cinema;
                    ajax(param, data => {
                        if (data) {
                            layer.msg("添加成功", {
                                offset: clientHeight / 5
                            });
                            tableReload("cinema_table", {
                                url: url + "/movie/cinema/all"
                            });
                        }
                    }, function () {
                        layer.msg("添加失败", {
                            offset: clientHeight / 5
                        });
                    });
                    setTimeout(function () {
                        layer.closeAll();
                    }, 1000);
                },
                success: function () {
                    $("#cinema_add_layer").attr("style", "display:block");
                },
                end: function () {
                    $("#cinema_name").val(null);
                    $("#cinema_brand").val("");
                    $("#province").val("");
                    $("#city").val("");
                    $("#county").val("");
                    $("#cinema_address").val();
                    $("#cinema_image-url").val();
                    $("#cinema_image").attr("src", "");
                    $("#cinema_image_process").attr("style", "display:none;");
                    $(".layui-progress-bar").attr("style", "width:0%;");
                    $(".layui-progress-text").html("");
                }
            });
        }
        //添加影厅事件
        function addHall() {
            layer.open({
                type: 1,
                title: "添加影厅",
                area: ['450px', '400px'],
                shade: 0.8,
                offset: clientHeight / 10,
                content: $("#hall_add_layer"),
                id: "hall_add", //设定一个id，防止重复弹出
                btn: ["确认添加", "取消"],
                closeBtn: 0,
                yes: function () {
                    var hallName = $("#hall_name").val();
                    var cinema = $("#cinema").val();
                    var hallType = $("#hall_type").val();
                    var hallCapacity = $("#hall_capacity").val();
                    var hall = {
                        "hallName": hallName,
                        "cinemaId": cinema,
                        "hallType": hallType,
                        "hallCapacity": hallCapacity
                    };
                    var param = new baseAjax();
                    param.url = url + "/movie/hall/insert";
                    param.method = "post";
                    param.data = hall;
                    ajax(param, data => {
                        if (data) {
                            layer.msg("添加成功", {
                                offset: clientHeight / 5
                            });
                        }
                        tableReload("hall_table",{url:url+'/movie/hall/all'});
                    }, function () {
                        layer.msg("添加失败", {
                            offset: clientHeight / 5
                        });
                    });
                    setTimeout(function () {
                        layer.closeAll();
                    }, 1000);
                },
                success: function () {
                    $("#hall_add_layer").attr("style", "display:block");
                },
                end: function () {
                    $("#hall_add_layer").attr("style", "display:none");
                    $("#hall_name").val(null);
                    $("#cinema").val("");
                    $("#hall_type").val("");
                    $("#hall_capacity").val(null);
                }
            });
        }
        //添加场次事件
        function addSchedule() {
            layer.open({
                type: 1,
                title: "添加场次",
                area: ['450px', '400px'],
                shade: 0.8,
                offset: clientHeight / 10,
                content: $("#schedule_add_layer"),
                id: "schedule_add", //设定一个id，防止重复弹出
                btn: ["确认添加", "取消"],
                closeBtn: 0,
                yes: function () {
                    var movieId = $("#cinema_movie").val();
                    var cinemaId = $("#schedule_cinema").val();
                    var hall = $("#schedule_hall").val();
                    var startTime = $("#schedule_date").val();
                    var price = $("#price").val();
                    var schedule = {"hallId":hall,"movieId":movieId,"scheduleStarttime":startTime,"schedulePrice":price}
                    var param = new baseAjax();
                    param.url = url + "/movie/schedule/insert";
                    param.method = "post";
                    param.data = schedule;
                    ajax(param, data => {
                        if (data) {
                            layer.msg("添加成功", {
                                offset: clientHeight / 5
                            });
                        }
                        tableReload("schedule_table",{url:url+'/movie/schedule/all'});
                    }, function () {
                        layer.msg("添加失败", {
                            offset: clientHeight / 5
                        });
                    });
                    setTimeout(function () {
                        layer.closeAll();
                    }, 1000);
                },
                success: function () {
                    $("#schedule_add_layer").attr("style", "display:block");
                },
                end: function () {
                    $("#hall_add_layer").attr("style", "display:none");
                    $("#cinema_movie").val("");
                    $("#schedule_cinema").val("");
                    $("#schedule_hall").val("");
                    $("#schedule_date").val("");
                    $("#price").val("");
                }
            })
        }
        //更新影院
        function updateCinema(data) {
            layer.open({
                type: 1,
                title: "影院信息",
                area: ['820px', '400px'],
                shade: 0.8,
                offset: clientHeight / 10,
                content: $("#cinema_add_layer"),
                id: "cinema_update", //设定一个id，防止重复弹出
                btn: ["确认修改", "取消"],
                closeBtn: 0,
                yes: function () {
                    var cinemaName = $("#cinema_name").val();
                    var cinemaType = $("#cinema_brand").val();
                    var belongArea = $("#county").val();
                    var cinemaAddress = $("#cinema_address").val();
                    var cinemaImageUrl = $("#cinema_image_url").val();
                    var cinema = {
                        "id": data.id,
                        "cinemaName": cinemaName,
                        "cinemaType": cinemaType,
                        "belongArea": belongArea,
                        "cinemaAddress": cinemaAddress,
                        "cinemaImageUrl": cinemaImageUrl
                    };
                    var param = new baseAjax();
                    param.url = url + "/movie/cinema/update";
                    param.method = "post";
                    param.data = cinema;
                    ajax(param, data => {
                        if (data) {
                            layer.msg("修改成功", {
                                offset: clientHeight / 5
                            });
                        } else {
                            layer.msg("修改失败", {
                                offset: clientHeight / 5
                            });
                        }
                    }, function () {
                        layer.msg("修改失败", {
                            offset: clientHeight / 5
                        });
                    });
                    setTimeout(function () {
                        layer.closeAll();
                    }, 1000);
                    tableReload("cinema_table", {
                        url: url + "/movie/cinema/all"
                    });
                },
                success: function () {
                    $("#cinema_add_layer").attr("style", "display:block");
                    var param = new baseAjax();
                    param.url = url + "/movie/cinema/detail/" + data.id;
                    ajax(param, data => {
                        console.log(data);
                        $("#cinema_name").val(data.cinemaName);
                        $("#cinema_brand").val(data.cinemaTypeId);
                        $("#province").val(data.provinceId);
                        $("#city").val(data.cityId);
                        $("#county").val(data.countryId);
                        $("#cinema_address").val(data.cinemaAddress);
                        $("#cinema_image-url").val(data.cinemaImageUrl);
                        $("#cinema_image").attr("src", data.cinemaImage);
                    });
                },
                end: function () {
                    $("#cinema_name").val(null);
                    $("#cinema_brand").val("");
                    $("#province").val("");
                    $("#city").val("");
                    $("#county").val("");
                    $("#cinema_address").val();
                    $("#cinema_image-url").val();
                    $("#cinema_image").attr("src", "");
                    $("#cinema_image_process").attr("style", "display:none;");
                    $(".layui-progress-bar").attr("style", "width:0%;");
                    $(".layui-progress-text").html("");
                }
            });
        }
        //列表刷新，仅限Html渲染
        function tableReload(ID, options) {
            layui.use('table', function () {
                var table = layui.table;
                table.reload(ID, options);
            });
        }
        //获取影院品牌
        function getCinemaBrand() {
            var ajax_param = new baseAjax();
            ajax_param.url = url + "/movie/cinema/type/all";
            ajax(ajax_param, (data) => {
                brand.brand = data
            });
        }
        //获取影院
        function getCinema() {
            var ajax_param = new baseAjax();
            ajax_param.url = url + "/movie/cinema/get-cinema/" + user.cinemaTypeId;
            ajax(ajax_param, (data) => {
                cinema.cinemas = data;
                schedule_cinema.cinemas = data;
            });
        }
        //获取影院品牌
        function getHallType() {
            var ajax_param = new baseAjax();
            ajax_param.url = url + "/movie/hall/type/all";
            ajax(ajax_param, (data) => {
                hallType.hallTypes = data
            });
        }
        //根据父Id获取地区
        function getArea(pId) {
            var ajax_param = new baseAjax();
            ajax_param.url = url + "/area/select/by-pid/" + pId;
            ajax(ajax_param, (data) => {
                province.provinces = data
            });
        }
        //获取电影
        function getMovie(cinemaTypeId) {
            var param = new baseAjax();
            param.url = url + "/movie/list/"+cinemaTypeId;
            ajax(param,data=>{cinema_movie.movies=data;})

        }
        //获取影厅
        function getHall(cinemaId){
            var ajax_param = new baseAjax();
            ajax_param.url = url + "/movie/hall/list/&cinemaId=" + cinemaId;
            ajax(ajax_param, (data) => {
                hall.halls = data
            });
        }
        //监听影院列表事件
        function onCinemaTable(table, form) {
            table.on("tool(CinemaTable)", function (obj) {
                var data = obj.data;
                console.log(data);
                if (obj.event === "edit") {
                    updateCinema(data);
                    setTimeout(function () {
                        form.render();
                    }, 200);
                } else if (obj.event === "delete") {
                    layer.alert(
                        "确定删除编号为“" + data.id + "”的影院吗？", {
                            icon: 0,
                            offset: clientHeight / 5
                        },
                        function () {
                            var param = new baseAjax();
                            param.url = url + "/movie/cinema/delete";
                            param.type = "post";
                            param.method = "post";
                            param.data = {
                                "id": data.id
                            };
                            param.contentTYpe = "application/json"
                            console.log(param);
                            ajax(param, data => {
                                if (data) {
                                    layer.msg("删除成功", {
                                        offset: clientHeight / 5
                                    });
                                    tableReload('cinema_table', {
                                        url: url + "/movie/cinema/all"
                                    });
                                } else {
                                    layer.msg("删除失败", {
                                        offset: clientHeight / 5
                                    });
                                }
                                setTimeout(function () {
                                    layer.closeAll();
                                }, 500);
                            }, function () {
                                layer.msg("删除失败", {
                                    offset: clientHeight / 5
                                });
                                setTimeout(function () {
                                    layer.closeAll();
                                }, 400);
                            });
                        });
                }
            });
            table.on("toolbar(CinemaTable)", function (obj) {
                if (obj.event === "cinema_add") {
                    addCinema();
                    form.render();
                }
            });
        }
        //监听影厅列表事件
        function onHallTable(table, form) {
            table.on("toolbar(HallTable)", function (obj) {
                if (obj.event === "hall_add") {
                    addHall();
                    form.render();
                }
            });
        }
        //监听场次列表事件
        function onScheduleTable(table, form) {
            table.on("toolbar(ScheduleTable)", function (obj) {
                if (obj.event === "schedule_add") {
                    addSchedule();
                    form.render();
                }
            });
        }
        //注销
        function ReLogin() {
            layer.alert('确认要注销吗？', {
                    icon: 0,
                    offset: clientHeight / 5
                },
                function () {
                    localStorage.removeItem('userJson');
                    layer.closeAll();
                    window.location.href = "./login.html"
                }
            );
        }
    </script>
</body>

</html>